@keyframes animar {
    0%{
        background-image: url('../img/Imagem2.png');
    }
    
    20%{
        background-image: url('../img/Imagem3.png');
    }
    40%{
        background-image: url('../img/Imagem4.png');
    }
    60%{
        background-image: url('../img/Imagem2.png');
    }
    80%{
        background-image: url('../img/Imagem3.png');
    }
    100%{
        background-image: url('../img/Imagem4.png');
    }

}